train:
  get_spectrogram:
    _target_: torchaudio.transforms.Spectrogram
    n_fft: 1024
    hop_length: 256
    power: null
  # audio transforms for mix and sources
  audio_consistent:
    _target_: src.transforms.wav_augs.ConsistentCompose
    transforms:
      - _target_: src.transforms.wav_augs.SpeedPerturb
        speeds: [0.9, 1.1]
        p: 0.5
      - _target_: src.transforms.wav_augs.Gain
        min_gain_in_db: -6
        max_gain_in_db: 6
        p: 0.5
  audio: # audio transforms only for mix
    _target_: torchvision.transforms.v2.Compose
    transforms:
      - _target_: src.transforms.wav_augs.AddColoredNoise
        min_snr_in_db: 10
        max_snr_in_db: 30
        sample_rate: 16000
        p: 0.3
      # - _target_: src.transforms.wav_augs.ApplyImpulseResponse
      #   p: 0.2
      #   sample_rate: 16000
      #   compensate_for_propagation_delay: True
      #   data_dir: "/kaggle/input/rirs-noises/RIRS_NOISES/simulated_rirs"
      # - _target_: src.transforms.wav_augs.AddBackgroundNoise
      #   p: 0.4
      #   snr_db: [20,30]
      #   include_babble: true
      #   sample_rate: 16000
      #   data_dir: "/kaggle/input/musan-noise/musan"
  spectrogram:
    _target_: torchvision.transforms.v2.Compose
    transforms:
      - _target_: src.transforms.spec_augs.SpecAugmentation
        p: 0.9
        time_drop_width: 16
        time_stripes_num: 2
        freq_drop_width: 16
        freq_stripes_num: 2
  phase:
    _target_: torchvision.transforms.v2.Compose
    transforms:
      - _target_: src.transforms.spec_augs.SpecAugmentation
        p: 0.9
        time_drop_width: 16
        time_stripes_num: 2
        freq_drop_width: 16
        freq_stripes_num: 2
inference:
  get_spectrogram:
    _target_: torchaudio.transforms.Spectrogram
    n_fft: 1024
    hop_length: 256
    power: null
