train:
  get_spectrogram:
    _target_: torchaudio.transforms.Spectrogram
    n_fft: 1024
    hop_length: 256
    power: null
inference:
  get_spectrogram:
    _target_: torchaudio.transforms.Spectrogram
    n_fft: 1024
    hop_length: 256
    power: null
